apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
  namespace: staging-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
        - name: phpmyadmin
          image: phpmyadmin:5.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
          env:
            # phpMyAdmin utilisera ce host pour joindre MariaDB
            - name: PMA_HOST
              value: mariadb.staging-db.svc
            - name: PMA_PORT
              value: "3306"
            # Optionnel : limite upload
            - name: UPLOAD_LIMIT
              value: "64M"
              
---

apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin
  namespace: staging-db
spec:
  selector:
    app: phpmyadmin
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
